[Unit]
Description=load latest sun radiation forecasts into an influxdb for power planning
After=network.target influxdb.service

[Service]
Type=simple
ExecStart=/home/joachim/bin/radiplan.sh
User=joachim

[Install]
WantedBy=multi-user.target